<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h5>Aceptar Solicitud</h5>
                </div>
                <div class="card-body">
                    <p>¿Estás seguro de que deseas aceptar esta solicitud?</p>
                    <button class="btn btn-primary" (click)="aceptarSolicitud(ofertanteId, idSolicitud)">Aceptar
                        Solicitud</button>
                </div>
            </div>
        </div>
    </div>
</div>