/* Estilos generales */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .card {
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 20px;
  }
  
  /* Estilos de encabezado */
  .card-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  /* Estilos de contenido */
  .card-subtitle {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .card-body p {
    margin-bottom: 15px;
    line-height: 1.6;
  }
  
  .card-body p strong {
    font-weight: bold;
    color: #007bff; /* Color azul para destacar */
  }
  
  /* Estilos de botones */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Estilos de la imagen */
  .card-img-top {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  /* Estilos de los enlaces */
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3;
  }
  