<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h2 class="text-center mb-4">Actividades Disponibles</h2>
            <div class="select-container">
                <select class="form-select" (change)="filtrarPorTipo($event)">
                    <option value="">Todos los tipos</option>
                    @for (tipo of tiposActividades; track $index) {
                    <option [value]="tipo.nombre">{{ tipo.nombre }}</option>
                    }
                </select>
            </div>

            @if (actividades.length === 0) {
            <div class="alert alert-warning mt-4" role="alert">
                No hay actividades disponibles para el tipo seleccionado.
            </div>
            }
            @else {
            @for (item of actividades; track $index) {
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">{{ item.nombre }}</h5>
                </div>
                <div class="card-body">
                    <p class="card-text">{{ item.descripcion }}</p>
                    <p class="card-text">Fecha de inicio: {{ item.fec_inicio | date }}</p>
                    <p class="card-text">Fecha final: {{ item.fec_final | date }}</p>
                    <p class="card-text">Precio: {{ item.precio }} €</p>
                    @if (item.materiales) {
                    <p class="card-text">Materiales: {{ item.materiales }}</p>
                    }
                    <div class="text-center">
                        @if (idConsumidor !== null) {
                        <button type="button" class="btn btn-primary"
                            (click)="irASolicitudActividad(idConsumidor, item.id)">Apúntate</button>
                        } @else {
                        <div class="alert alert-danger" role="alert">
                            Por favor, inicia sesión para apuntarte a una actividad.
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
            }

        </div>
    </div>