<app-navbar></app-navbar>
@if (ofertante$) {
<div class="container">
    <h2 class="mt-4 mb-3">Datos del ofertante</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <p class="card-text"><strong>ID:</strong> {{ofertante$.id }}</p>
                    <p class="card-text"><strong>Nombre:</strong> {{ ofertante$.nombre }}</p>
                    <p class="card-text"><strong>Apellidos:</strong> {{ ofertante$.apellidos }}</p>
                    <p class="card-text"><strong>NIF:</strong> {{ ofertante$.nif }}</p>
                </div>
                <div class="col-md-6">
                    <p class="card-text"><strong>Teléfono:</strong> {{ ofertante$.telefono }}</p>
                    <p class="card-text"><strong>Correo:</strong> {{ ofertante$.correo }}</p>
                    <p class="card-text"><strong>Dirección:</strong> {{ ofertante$.direccion }}</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-4 mb-3">Actividades del ofertante</h2>
    <div *ngIf="ofertante$.actividades && ofertante$.actividades.length > 0; else noActividades">
        <div class="card mb-3" *ngFor="let actividad of ofertante$.actividades">
            <div class="card-body">
                <p class="card-text"><strong>ID:</strong> {{ actividad.id }}</p>
                <p class="card-text"><strong>Nombre:</strong> {{ actividad.nombre }}</p>
                <p class="card-text"><strong>Descripción:</strong> {{ actividad.descripcion }}</p>
                <p class="card-text"><strong>Fecha inicio:</strong> {{ actividad.fec_inicio | date }} </p>
                <p class="card-text"><strong>Fecha final:</strong> {{ actividad.fec_final | date }} </p>
                <p class="card-text"><strong>Precio:</strong> {{ actividad.precio }} </p>
            </div>
        </div>
    </div>
    <ng-template #noActividades>
        <p class="card-text">No hay actividades disponibles.</p>
    </ng-template>
</div>
@if (review$.length > 0) {
<div class="container">
    <h2 class="mt-4 mb-3">Reseñas de actividades del ofertante</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                @for (item of review$; track $index) {
                <div class="col-md-12">
                    <div class="card mt-4">
                        <div class="card-body">
                            <p><strong>Autor de la reseña: </strong>{{item.consumidor.nombre}}
                                {{item.consumidor.apellidos}}</p>
                            <p><strong>Actividad:</strong> {{ item.actividad.descripcion }}</p>
                            <p><strong>Fecha de inicio:</strong> {{ item.actividad.fec_inicio | date }}</p>
                            <p><strong>Fecha de finalización:</strong> {{ item.actividad.fec_final | date}}</p>
                            <p><strong>Comentario:</strong> {{ item.comentario }}</p>
                            <p><strong>Puntos:</strong> {{ item.puntos }}</p>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
}
}@else {
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">No se encontraron datos del consumidor</h5>
            <p class="card-text">Lo sentimos, no hemos podido encontrar información sobre este consumidor en nuestra
                base de datos.</p>
            <p class="card-text">Por favor, asegúrate de que el ID del consumidor sea válido e inténtalo de nuevo.</p>
        </div>
    </div>
</div>}