<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="card-title">Bienvenido a nuestra página de eventos</h1>
                    <p class="card-text">¡Gracias por visitarnos!</p>
                    <p class="card-text">¿Qué te gustaría hacer?</p>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-primary mr-3" (click)="register()">Registrarse</button>
                        <button class="btn btn-primary ms-3" (click)="login()">Iniciar Sesión</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>