/* Estilos generales */
.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px;
}

.card-title {
    margin-bottom: 20px;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

/* Estilos para columnas en dispositivos medianos */
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
    max-width: 50%;
}

/* Estilos para columnas en dispositivos grandes */
.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
}